body {
    font-family: Brunson;
    margin: 0;
    padding: 0;
    background-color: rgb(122, 133, 143);
}

@font-face {
    font-family: Brunson;
    src: url("Fonts/brunson/Brunson.ttf") format("opentype");
}

@font-face {
    font-family: Coluna;
    src: url("Fonts/coluna/Coluna.otf") format("opentype");
}

form{
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

input[type=button]{
    background-color: rgb(0, 113, 105);
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
}

input[type=range] {
    width: 200px;
    margin: 10px 0px;
}

input[type=text] {
    border: 5px solid rgb(109, 119, 129); 
    box-shadow: 0 0 16px rgba(0,0,0,0.1); 
    background: rgb(122, 133, 143);
    padding: 15px;
    margin: 0px 10px;
    
}

input[type=submit] {
    background-color: rgb(0, 113, 105);
    border: none;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
}

#leaveReview{
    font-size: 36px;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
}

.reviewSection
{
    grid-row: span 2;
    grid-column: span 2;
    background-color: rgb(103, 112, 122);
    padding: 5px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#map
{
    display: flex;
    height: 100%; 
    width: 100%;
    background-color: rgb(134, 168, 214); 
    filter: brightness(75%); 
    border-radius: 12px; 
    justify-self: left;
    inherits: false;
}

.mapHighlight
{
    grid-row: span 3;
    grid-column: span 2;
    display: flex;
    height: 37em;
    width: 47em;
    padding: 5px 5px;
    border-radius: 12px; 
    margin: 10px 10px;
    background-image: conic-gradient(from var(--rotation), rgb(0, 113, 85),  rgb(122, 133, 143), rgb(0, 113, 85));
    animation: 1s spin linear infinite;
}

.weather 
{
    grid-row: span 1;
    grid-column: span 2;
    margin-top: 5px;
    margin-right: 20px;
    border-right: rgb(84, 91, 99) 4px solid;
    border-radius: 10px;
}

@property --rotation {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from { --rotation: 0deg; }
    to { --rotation: 360deg; }
}

.mainGrid {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    background-color: rgb(109, 119, 129);
    gap: 5px;
    align-items: start;
}
#LiveCam{
    padding: 5px 0px;
    border-color: rgb(0, 113, 105) ;
    border-radius: 10px;
    
}


h1 {
    position: absolute;
    display: flex;
    z-index: 2;
    font-family: Coluna;
    text-align: center;
    font-size: 4rem;
    margin: 40px 15px;
    color: white;
    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); */
    background: linear-gradient(to left, #ffffff, rgb(172, 245, 249));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbackground 
{
    position: relative;
    display: flex;
    background-image: url("Images/wp8306856-hd-winter-trees-wallpapers.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    align-items: center;
    align-items: last baseline;
}

.navbackground::before /* creates pseudo element to only effect brightness */
{
    content: ""; /* Must add content or pseudo element wont apperar */
    background: rgba(0,0,0,0.35);
    position: absolute;
    z-index: 0; /* put on different axis to add filter */
    inset: 0;
}

.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    background-color: rgb(0, 113, 85);
    width: 100%;
    /* border-radius: 12px;   */
}

.navbar a {
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    text-align: center;
    font-family: fantasy;
    transition: transform .25s ease-in-out;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
}

.navbar a:hover {
    transform: scale(1.075);
    background-color:rgb(2, 139, 105);
    border-color: aliceblue;
}

.infoBox {
    display: flex;
    text-align: center;
    align-self: center;
    align-items: center;
    
    margin: 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 50vh;
}

.infoBox-Item {
    padding: 5px;
    margin: 30px 5px;
    text-align: ;
    font-size: clamp(.1rem, 5vw, 3.5rem);
    font-family: Brunson;
    color: aliceblue;
}

#reviewSection 
{
    grid-column: 1 /span 2;
    padding: 5px 0px;
    background-color: rgb(103, 112, 122);
    border-radius: 10px;
    margin-left: 10px;
    border-right: rgb(84, 91, 99) 4px solid;
}

#trailSection 
{
    grid-column: 3 /span 2;
    padding: 5px 0px;
    background-color: rgb(103, 112, 122);
    border-radius: 10px;
    margin-right: 10px;
    border-right: rgb(84, 91, 99) 4px solid;
}

h2 
{
    font-size: 36px;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
}

ul{
    max-height: 400px;     
    overflow-y: auto; 
    padding: 10px 15px;
    width: 95%;
    grid-row: 1;
    grid-column: 1;
}

#Review_item {
    background-color: rgb(118, 121, 121);
    padding: 10px 15px;
    font-size: 18px;
    list-style-type: none;
    width: 90%;
    border:black 2px solid;
    margin-bottom: 10px;
}

.trail, .status, .difficulty {
  display: inline-block;
  margin-right: 10px;
  font: 16px "Audiowide"; 
}
.item{
    font-size: 16px;
}
.userName{
    font-size: 14px;
}
.rating{
    color: #505069;
}

#temp 
{
    display: inline-block;
    font-size: 120px;
    margin: 0px;

}

#tempApparent 
{
    display: inline-block;
    font-size: 20px;
    text-align: left;
    /* margin: -10px 5px; */
}

#weatherImg {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 0px;
}

.snowForecast {
    font-size: 20px;
    text-align: center;
    padding: 5px 0px;
    background-color: rgb(103, 112, 122);
    border-bottom: 2px solid rgb(84, 91, 99);
}

.curWeather 
{
    align-items: center;
    text-align: center;
    background-color: rgb(103, 112, 122);
    border-bottom: 2px solid rgb(84, 91, 99);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(103, 112, 122);
}

::-webkit-scrollbar-thumb {
  background: rgb(84, 91, 99);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

