body {
    font-family: fantasy;
}

.navbar {
    display: flex;
    background-color: rgb(0, 113, 85);
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: transform .25s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.075);
    background-color:rgb(2, 139, 105);
}
