body {
    font-family: fantasy;
}

form{
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

input[type=button]{
    background-color: rgb(0, 113, 105);
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
}

input[type=range] {
    width: 200px;
    margin: 10px;
    color: yellow;
    box-sizing: border-box;
}
input[type=text] {
    width: auto;
    padding: 12px;
    margin: 10px;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: rgb(0, 113, 105);
    border: none;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
}

.navbar {
    display: flex;
    background-color: rgb(0, 113, 85);
}

.navbar a {
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    transition: transform .25s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.075);
    background-color:rgb(2, 139, 105);
}

.infoBox {
    display: flex;
    align-content: flex-start;
    
    border-radius: 25px;
    margin: 10px 0px;
    background-color: rgb(255, 209, 00);
    width: 50vw;
    height: 50vh;
}

.infoBox-Item {
    padding: 5px;
    margin: 30px 5px;
    font-size: clamp(.05rem, 5vw, 1rem);
}